:root {
    --bg-main: #ecedee;  
    --text-main: #222222;    
    --nav-bg: #ffffff;      
    --nav-text: #000000;    
}

body.dark {
    --bg-main: #1a1a1a;   
    --text-main: #f0f0f0; 
    --nav-bg: #0e0d0d;      
    --nav-text: #ffffff;    
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);
    transition: background 0.3s, color 0.3s;
    min-height: 100vh;
}

* {
    color: inherit;
    transition: background 0.3s, color 0.3s;
}

nav {
    background-color: var(--nav-bg);
    padding: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #777; 
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--nav-text);
    font-weight: 500;
}

nav a.active {
    font-weight: bold;
    color: rgb(93, 180, 80);
}

main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
}